name: Pages
on:
  push:
    branches:
    - main
    - remote-themes-test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+github.com/TEParsons/psychopy-sphinx-themes
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages-test